/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
 */
:root {
  --red: #dd7373ff;
  --blue: #3b3561ff;
  --yellow: #ead94cff;
  --grey: #d1d1d1ff;
  --green: #51a3a3ff;
}

/* 
$light-coral: #dd7373ff;
$space-cadet: #3b3561ff;
$citrine: #ead94cff;
$timberwolf: #d1d1d1ff;
$verdigris: #51a3a3ff;
*/

